$light-blue: rgb(109, 140, 189);

.outterHomeContainer{
    width: 100vw;
}
.container{
    padding-top: 20px;
    // margin: 0;
    padding: 0;
    
}
.card{
    background-color: $light-blue;
    color: white;
}
.loading, .error{
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}
.card-title{
    font-size: 1rem;
}
.img{
    height: 200px; 
    object-fit: cover;
    
}