$light-blue: rgb(109, 140, 189);

.shoppingCart{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    &__quantity{
        margin: 0 10px;
        &-btn{
            height: 10px;
            border: 1px solid black;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            &:hover{
                color: white;
                background-color: $light-blue;
            }
        }
    }
    &__img{
        width: 120px;
    }
    &__content{
        display: flex;
        flex-direction: column;
        font-weight: 300;
        width: 100%;
        margin-left: 10px;
    }
    &__price{
        display: block;
        color: $light-blue;
        font-weight: 400;
        margin-top: 10px;
    }
    &__btn{
        background-color: white;
        border: none;
        height: 60px;
        width: 5px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            background-color: rgba(130, 152, 187, 0.696);
        }
    }
}